//@import "~bootstrap/scss/bootstrap";
// original color scheme
// $color1: #EFA747;
// $color2: #515B51;
// $color3: #8C7547;
// $color4: #DAC6AC;
// $color5: #10000C;

$color1: grey; // #808080
$color2: white;
$color3: #C5C6C7;
$color4: grey;
$color5: black;


body {
  
  font-family: monospace, Courier, serif;
  background-color: $color1;
  margin: 0;
  padding: 0; 
  //color: white;
}


.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999; // always keep the navbar at top level view
  width: 100%;

  align-items: center;
  background-color: $color2;
  
  .nameAndSocialLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .nameContainer {
      // border: 1px solid black;
      text-align: center;
      vertical-align: center;
    }

    .socialLinks {

      // border: 1px solid darkred;
      dl {
        margin-left: 16%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      dt {
        margin-left: 6%;
        margin-right: 6%;
      }
    }
  }

  .navLinks {


    a {
      color: black;
      text-decoration: none; // removes lines below words
    }

    a:hover {
      color: white;
    }

    dl {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    dt {
      margin-left:  4%;
      margin-right: 4%;
    }
  }
}

// mobile navbar
.mNavbar {

  display: flex; 
  background-color: $color2;
  flex-direction: column;

  left: 0;
  top: 0;
  position: fixed;
  z-index: 9999; // always keep the navbar at top level view
  width: 100%;

  .mainNav {
    display: flex;
    flex-direction: "column";
    z-index: 9999;

    align-items: center;
    // background-color: #515B51;
    background-color: $color2;
    justify-content: space-between;
    

    .mNameAndSocialLinks {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: 2%;
      
      .mNameContainer {
        //margin-left: 2%;
        text-align: center;
        vertical-align: center;
      }
    

      .mSocialLinks {
        dl {
          margin-left: 16%;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
  
        dt {
          margin-left: 6%;
          margin-right: 6%;
        }
      }
    }
  
    .navMenuButton {
      // border: 1px solid yellow;
      margin-right: 2%; 
    }
  }

  .dropDownNav {
    dl{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    dt {
      margin-top: 2%;
      margin-bottom: 2%;
    }

    a {
      color: black;
      text-decoration: none;
    }

    a:hover {
      color: white;
    }
  }
  
}


header {
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //border: 1px solid darkred;

  .imageContainer {
    padding-top: 10px;

    img {
      border: 4px solid black;
      border-radius: 150px;
      width: 300px;
      height: 300px;
    }
  }
}

#aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid darkgreen;
  background-color: $color3;
  
  .aboutTitle {
    // border: 1px solid #000000;
    hr {
      height: 2px;
      background-color: #000000;
      border-color: #000000;
    }
  }

  .aboutInfo {
    margin-left: 10%;
    margin-right: 10%;
  }
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color4;
  // border: 1px solid #43076A;
  .experienceTitle {
    // border: 1px solid #000000;
    hr {
      
      height: 2px;
      background-color: #000000;
      border-color: #000000;
    }
  }

  .universityExperience {
    margin-left: 10%;
    margin-right: 10%;
  }

  .internshipExperience{
    margin-left: 10%;
    margin-right: 10%;
  }
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $color2;
  background-color: $color3;
  // border: 1px solid #000000;

  .projectsTitle {
    // border: 1px solid #948787;
    hr {
      height: 2px;
      background-color: #000000;
      border-color: #000000;
    }
  }

  h4 {
    font-style: italic;
  }

  .projectItems {
    dl {
      display: flex;
      flex-direction: column;
    }
    .itemA {
      //background-color: #788d78;
      background-color: #d6d6d6; // #cecece
    }
    .projectItem {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color1;
  border: 1px solid #000000;

  .contactTitle {
    // border: 1px solid #000000;
    hr {
      
      height: 2px;
      background-color: #000000;
      border-color: #000000;
    }
  }

  .formContainer {
    width: 80%;

    form {
      // border: 1px solid darkred;
      display: flex;
      flex-direction: column;
      align-items: center;
    } 

  }

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color5;

  p {
    color: white;
  }
}

